.custBtn {
    background-color: #1abc9c!important;
    color: white !important;
    /* padding: 10px 20px !important; */
    border: none !important;
    border-radius: 5px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1) !important;
    transition: background-color 0.3s, box-shadow 0.3s !important;
  }
  
  .custBtn:hover {
    background-color: #16a085 !important;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2) !important;
    transform: translateY(-1px);
  }
  
  .customShadow{
    /* padding: 20px;padding-bottom: 10px; */
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3) , 0 -6px 8px rgba(0, 0, 0, 0.1);
  }
  .custom_input {
    box-shadow: 5px 5px 7px -1px #d3d3d3;
}
.formContainer{
  border: 2px solid #17263948;
}

.cardTitle{
  color: var(--secondary-color);
  font-size: 14px;
}
.cardContent{
  font-size: 13px;
  color: rgb(95, 95, 95);
  
}
.dottedBorder{
  border-right: 1px solid var(--primary-color);;
}
